html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body,div,Fp {
    	margin: 0;
    	padding: 0;
    }
ul {
    list-style: none;
}
body {
    width: 100%;
    *cursor: default;
    overflow: hidden;
    font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}
#pageContain {
    overflow: hidden;
}
.page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: #eef3f0;
    background-color: #22C3AA;
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
}
.current .contain,.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
#navBar {
    z-index: 3;
    position: absolute;
    top: 10%;
    right: 3%;
}
#navBar .active {
    background: #ccc;
}
#navBar li {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .7s ease;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}
*{margin:0;padding:0;font-family:"Microsoft YaHei"}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border:none;}
li{list-style:none;}
a{text-decoration:none; color:white !important;}
.fl{float:left;}
.fr{float:right;}
h4{
    font-size: 1.25em;
    margin: 0 0 0.1em 0;
    margin-top: 0;
}

.desc{
    margin: 1em 0 0.25em 0;
    color: #aee2d9;
}
.name{
    margin: 0.25em 0 0 0;
    text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
    text-align: center;
    font-size: 3.5em;
}
.descSpan{
    width: 400px !important;
}

.fr p{
    margin-top: 12%;
    margin-left: 0%;
    width: 260px;
}
.skills{
    margin-top: 4vw;
}
.companyDetail{
    text-align: center;
}
.h4{
    color: #eef3f0 !important;
}
#block-skill .name{
    text-shadow: 1px 2px #9C58B6, 2px 4px #bb8ccd;
}
#block-workEXP .name{
    text-shadow: 1px 2px #26B1B6, 2px 4px #75ced1;
}
.titleRow:first-child{
    margin-bottom: 2vw;
}
#block-prjEXP .name{
    text-shadow: 1px 2px #129DE7, 2px 4px #7ac0e5;
}
.circle-img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #008a75;
    padding: 18px
}
.row-project{
    position: relative;
    
}
.row-project>div{
    float: left;
}
.row-project h2{
    font-size: 2em;
    margin: 0 0 0.2em 0;
    margin-top: 0;
}
.appName{
    font-size: 3.5vh;
}
#block-wantMore .telWay{ 
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
}   

