html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body,div,Fp {
    	margin: 0;
    	padding: 0;
    }
ul {
    list-style: none;
}
body {
    width: 100%;
    *cursor: default;
    overflow: hidden;
    font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}
#pageContain {
    overflow: hidden;
}
.page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: #eef3f0;
    background-color: #22C3AA;
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
}
.current .contain,.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
#navBar {
    z-index: 3;
    position: absolute;
    top: 10%;
    right: 3%;
}
#navBar .active {
    background: #ccc;
}
#navBar li {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .7s ease;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}


